.bus-map-page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: row;  
}

.sidebar-container {
  width: 350px;  
  height: 100vh; 
  flex-shrink: 0; 
  z-index: 1000; 
}

.map-container {
  flex-grow: 1;  
  height: 100vh;
  position: relative;
}

.user-menu-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
}
